@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
background-color: #ecd0ff;
margin: 0 10%;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  padding: 0;

}
